.fullScreen {
  padding: 50px;
  background-color: floralwhite;
}

.sectionHeader {
  background-color: cornflowerblue;
  text-align: center;
  border-radius: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.noCars {
  margin-top: 50px;
  font-size: 1.4rem;
}
