.boxDesc {
  margin-bottom: -10px;
}

.price {
  margin-top: -15px;
}

.emptyPrice {
  height: 0px;
}

.boxImage {
  width: 120px;
  height: 120px;
}

.noDetails {
  max-height: 0;
  transition: max-height 0.35s ease-out;
  overflow: hidden;
  margin-top: -8px;
  padding-top: 8px;
}

.fullDetails {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.55s ease-in;
  margin-top: -8px;
  padding-top: 8px;
}

.carName {
  width: 100%;
}