.red {
  background-color: whitesmoke;
  text-align: center;
}

.bigTitle {
  text-align: center;
  padding: 40px;
  text-transform: uppercase;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
